<div class="container">

  <h1>Stupid Coaching</h1>

  <form action="/answer" method="get" class="form">
    <input type="text" name="question" placeholder="Ask a question!" id="input_field">
    <input type="submit" id="btn-submit">
  </form>
</div>


